/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
/* ==== ROOT RESET ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #dee9ff;
}

.detail-div {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.details {
  padding: 2rem 5rem;
  background-color: #fff;
  border-radius: 2rem;
  min-width: 25rem;
  font-size: 1.2rem;
}

.detail-btn {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.transfer-div {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.transfer {
  padding: 2rem 5rem;
  background-color: #fff;
  border-radius: 2rem;
  min-width: 28rem;
  font-size: 1.2rem;
}

.submit-btn {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
